body{
    background-image: url('https://uploads-ssl.webflow.com/60abcbf13c9af64a88390582/6230f5f37b84136a6985b3df_899889.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
